<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tea.jetpack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scoredemo.ScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".viewmodeldemo.ViewModelDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".databindingdemo.DataBindingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".livedatademo.LiveDataDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navogationdemo2.NumFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigationdemo.NavigationTeaActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".countdemo.CountNumActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>